exec.*/
compilation*/
*.x
*.o
*~
~*
spin_up_restart/
nohup.out
Makefile
old_exps
opt_exps
frierson_comparison_*old*
*.pyc
exp/st_test*
exp/archived/*
*.DS_Store
*.egg-info
._*
*.mod
postprocessing/plevel_interpolation/scripts/*.nc
postprocessing/plevel_interpolation/scripts/*.nml
postprocessing/plevel_interpolation/scripts/archived/*
*land_world_mountains.nc
*output.txt
src/extra/python/scripts/*.nc
src/extra/python/scripts/archived/
mima_pz.txt
*.sh.*
src/atmos_param/socrates/src/trunk*
test/.cache
test/results.xml
exp/experiments/
postprocessing/old_mppnccombine_run.sh
run/
*.png
src/extra/env/emps-hoff
src/extra/model/socrates/path_names_old
src/extra/python/isca/templates/mkmf.template.ifc.hoff
src/extra/python/isca/templates/mkmf.template.ifc.hoff_orig
src/extra/python/isca/templates/old_compile.sh
src/shared/constants/constants_old.F90
